.dashboard-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  min-height: 100vh;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 400;
}

.dashboard-container {
  padding: 20px;
  background-color: #f4f4f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;

  nav {
    margin-bottom: 20px;
    a {
      color: #007bff;
      text-decoration: none;
      margin-right: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
